<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Please Login</h1>

    <% if(hasError) {%>
        <%=errorMessage%><%}%>
    <form action = "/login" method = "POST">

            email: <input type = "text" name = "email" placeholder="email"><br><br>
            password: <input type = "password" name = "password" placeholder="password"><br><br>
            <input type = "submit" value = "login"><br><br>
            
    </form>

    <form action = "/logout" method = "POST">
        <input type = "submit" value = "logout">&nbsp&nbsp<a href = "/">signUp</a>
    </form>

    
</body>
</html>
